.kbPrZo,
.YgTtW {
  display: none !important;
}

.kzZBXj {
  font-size: 16px;
  font-weight: 1000;
}

.rdt_TableCell {
  font-size: 15px;
}

.gpwTNy,
.sc-braxZu {
  background-color: rgba(0, 0, 0, 0) !important;
}

.rdt_TableHeadRow {
  background-color: rgba(138, 169, 143, 0.3) !important;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 4px;
}

.juhAha,
.bPgXZu,
.feLBvi {
  text-align: center;
  color: #305335;
  justify-content: center !important;
}

.kvNUTc {
  background-color: rgba(217, 217, 217, 1) !important;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 4px;
}

.ecxYml {
  background-color: rgba(113, 146, 122, 0.45) !important;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 4px;
}

.dKhQoE {
  justify-content: center;
  font-weight: 500;
}
.cgTKyH {
  background-color: rgba(0, 0, 0, 0) !important;
  font-weight: 700;
  color: black;
  border: none !important;
}

.cEDwUG {
  display: none !important;
}
