<fieldset class="border py-2 px-4 m-2 rounded-4">
    <legend  class="float-none w-auto">Criação de Nova Requisição</legend>
    <form action="/requisicoes/criar" method="post" class="d-flex flex-column w-100">
        <div class="flex-row row mb-3">
                <div class="row p-0 m-0 col-8">
                    <label  for="numRequisicao" class="col-3 col-form-label px-0">Número da Requisição:</label>
                    <div class="col-2 p-0">
                        <input name="numero_requicisao" value="{{id}}" hidden>
                        <input class="form-control align-items-center text-center" type="num" name="numero_requicisao" id="numRequisicao"  value="{{id}}" disabled>
                    </div>
                </div>

                <div class="row p-0 m-0 col-4 justify-content-end">
                    <label  for="numRequisicao" class="col-2 col-form-label px-0">Data:</label>
                    <div class="col-5 p-0">
                        <input name="numero_requicisao"  hidden>
                        <input class="form-control align-items-center text-center" type="num" name="numero_requicisao" id="numRequisicao" disabled >
                    </div>
                </div>
            </div>

            <div class="row mb-3 ">
            <label for="nomeSolicitante" class="col-2 col-form-label px-0">Nome do Solicitante:</label>
            <div class="col-10 p-0">
                <input type="text" id="nomeSolicitante" name="nome_solicitante" class="form-control align-items-center" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="nomeSistema" class="col-2 col-form-label px-0">Nome do Sistema:</label>
            <div class="col-10 p-0">
                <input type="text" id="nomeSistema" name="nome_sistema" class="form-control align-items-center" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="DescRequisicao" class="col-2 col-form-label px-0">Descrição da Requisição <br> de Alteração:</label>
            <div class="col-10 p-0">
                <textarea id="DescRequisicao" name="descricao_requisicao" class="form-control" rows="4" maxlength="500" required></textarea>
                <small class="text-success"><span id="countText">0</span>/500 caracteres</small>
            </div>
        </div>

        <div class="row mb-3">
            <label for="status" class="col-2 col-form-label px-0">Status da Requisição:</label>
            <div class="col-2 p-0">
                <input name="status_requisicao" hidden>
                <input type="text" id="status" name="status_requisicao" class="form-control align-items-center text-center" disabled value="Criada">
            </div>
        </div>

        <div class="row mb-3">
            <label for="anexo" class="col-2 col-form-label px-0">Anexo:</label>
            <div class="col-10 p-0">
                <input type="file" id="anexo" name="anexo" class="form-control align-items-center">
            </div>
        </div>

        <div class="row mb-3">
            <label for="dataFechamento" class="col-2 col-form-label px-0">Data Fechamento:</label>
            <div class="col-2 p-0">
                <input type="text" id="dataFechamento" name="fechamento" class="form-control align-items-center text-center" disabled value="A determinar">
            </div>
        </div>


        <div class="row mt-2 justify-content-end">
            <button type="submit" class="btn btn-outline-success col-2 fw-bolder">Enviar</button>
        </div>
    </form>
</fieldset>

 



<script src="/js/criarRequisicao.js"></script>
